.iframe-container {
    overflow: hidden;
    height:50vh;
    width:50vw;
    position: relative;
    margin:0 auto;
  }
  
  .iframe-container iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
  }
  
  /* 4x3 Aspect Ratio */
  .iframe-container-4x3 {
    padding-top: 75%;
  }

  @media only screen and (max-width:768px){
      .iframe-container{
          
          width:100%;
          
      }
  }
