.featured_item{
    background: #000;
    position: relative;
}

.featured_image{
    height:85vh;
    max-width: 100%;
    background-size:cover !important;
    background-repeat: no-repeat ;
    background-position: top !important;
}

.featured_title{
    position: absolute;
    top:75% !important;
    left:2% !important ;
    font-size: 2rem;
    color:#fff;
    text-decoration: none;
}