.header{
    background-color:#000;
    
}

.logo{
    background-image: url('/images/nba_logo.png');
    height:40px;
    width: 40px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 2rem;
}

.container{
    display: flex;
    flex-direction: row;
    color:#fff;
    flex-grow: 1;
    align-items: center;
    max-width:  98%;
    margin:0 auto;
}